# Virtual Environment
venv
myvenv

# Python
*.pyc
__pycache__/

# Django
db.sqlite3
/static
/media

# OS files
.DS_Store
# Entornos Virtuales
.venv/
venv/
env/

# Archivos de caché y logs
__pycache__/
*.pyc
*.log