{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard - Chispitas de Arcoíris{% endblock %}

{% block content %}
<div class="dashboard-container">
    <div class="logo-container">
        <img src="{% static 'imagenes/Logo.png' %}" alt="Logo" class="logo-dashboard">
    </div>
</div>

<!-- Productos -->
<section class="productos">
    <center><h2>Nuestros Postres</h2></center>
    <div class="grid-productos">
        {% for i in "123456"|make_list %}
        <div class="producto">
            <img src="{% static 'imagenes/Postre' %}{{ i }}.jpg" alt="Postre {{ i }}">
            <h3>Postre {{ i }}</h3>
            <p>No hay descripcion todavia profe.</p>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
